absl-py==0.2.1
astor==0.6.2
bleach==1.5.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Cors==3.0.4
gast==0.2.0
geojson==2.3.0
google-api-core==1.1.2
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.12.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Keras==2.1.6
lazy-import==0.2.2
Markdown==2.6.11
MarkupSafe==1.0
-e git+git@github.com:tomasruizt/python-nachbarstrom-commons.git@c9aedfa24f4af2b536fcc5f3d0ef717f247ce437#egg=nachbarstrom_commons
numpy==1.14.3
overpass==0.6.0
Pillow==5.1.0
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pytz==2018.4
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
scipy==1.1.0
six==1.11.0
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
